// TODO: add back later? params.min_MQ = 30
params {
  help            = false
  samplesheet     = null
  genes           = null
  bulk            = false
  gencode_gff3    = null
  refcds          = null
  min_cov         = 1
  min_MQ          = 0
  min_BQ          = 0
  location        = 'local'
  out_dir         = 'out/'
  plot_device     = "png"
}

// use nf-schema for param handling
plugins {
  id 'nf-schema@2.2.0'
}

// help message
validation {
    help {
        enabled = true
    }
}
