// TODO: add back later? params.min_MQ = 30
params {
  help              = false
  samplesheet       = null
  genes             = null
  no_cell_barcodes  = false
  no_celltypes      = false
  gencode_gff3      = "${baseDir}/data/gencode_gff3/GRCh38/gencode.v39.annotation.gff3.gz"
  refcds            = "${baseDir}/data/refcds/GRCh38/RefCDS_human_GRCh38_GencodeV18_recommended.rda"
  no_chr            = false
  min_cov           = 1
  min_MQ            = 0
  min_BQ            = 0
  location          = 'local'
  out_dir           = 'out/'
  plot_device       = "png"
}

// use nf-schema for param handling
plugins {
  id 'nf-schema@2.2.0'
}

// help message
validation {
  help {
    enabled = true
  }
}
