// TODO: add back later? params.min_MQ = 30
params {
  help            = false
  samplesheet     = null
  drivers         = null
  gencode_gff3    = null
  min_cov         = 2
  location        = 'local'
  out_dir         = 'out/'
  plot_device     = "png"
  validate_params = true
  showHidden      = false
}

// use nf-schema for param handling
plugins {
  id 'nf-schema@2.2.0'
}

// help message
validation {
    help {
        enabled = true
    }
}
